* {box-sizing: border-box;}

h1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav ul{display: flex;
      gap: .5rem;
      justify-content: flex-end;
      list-style-type: none;
      background-color: #9b4940;}

.items a {background-color: azure;
        padding: 1rem;
        margin: auto;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;}

body {background-color: #9b4922;
     color:cornsilk;}

section {margin-bottom: 5rem;}

.fic {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

}

.fic a {background-color: antiquewhite;
      font-size: 2rem;
      text-decoration: none;
}

.non-fic {display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;}

.non-fic a {background-color: antiquewhite;
      font-size: 2rem;
      text-decoration: none;}

@media only screen and (max-width: 600px) {.fic,.non-fic
        {flex-direction:column;
      }
}

/*@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {} */

@media (prefers-reduced-motion: reduce) {
* {animation: none !important;
      transition: none !important; }
}

